spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver

jwt:
  secret-key: ${JWT_SECRET_KEY}
  access-expiration: 3600000
  refresh-expiration: 1209600000

internal:
  token: ${INTERNAL_TOKEN}

logging:
  level:
    root: INFO
